body{
    background: rgb(252, 0, 0);
    color:white;
    margin: 0px;
  font-family: "Lacquer", system-ui;
   }

    header{
border-bottom: solid 2px rgb(255, 0, 0);
font-size: 18px;
padding: 20px;
background: rgb(0, 0, 0);
display: flex;

    }

    div{
       border-bottom: solid 0px rgb(0, 0, 0);
padding: 10px;
font-size: 19px;
margin-right: 20px;
 
    }

    section{
        background: rgb(0, 0, 0);
      padding-bottom: 70px;  
      padding-top: 7px;
      display: flex;
      justify-content: center;
    }

    .chamada-texto{
   margin-right: 20px;
    }

    img{
    opacity: 0.5;
  height:180px;

    }

    .categoria-videos { 
     display: flex;
     overflow-x: auto;
     gap: 8px;
    }

   .categoria-videos img {
  opacity: 0.5;
  height:180px;
   }
   
   .categoria-videos img:hover{
    opacity: 1,0;
    border: 1px solid red;
   }
    