body{
    background: black;
    color:white;
    margin: 0px;
    
   }

    header{
border-bottom: solid 2px rgb(0, 8, 252);
font-size: 15px;
padding: 10px;

    }

    div{
       border-bottom: solid 2px rgb(0, 155, 252);
padding: 20px;
font-size: 15px;
 
    }

    section{
        background: rgb(0, 13, 255);
    }